@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;700&display=swap");

:root {
  --black: #333;
  --blue-green: #31abc8;
  --dark-green: #486b62;
  --gray-green: #aab893;
  --light-blue: #c5e7dd;
  --light-gray: #f5f5f5;
  --orange: #f2973c;
  --red: #c84e31;
  --white: #fff;
}

html,
body {
  height: 100vh;
}

html {
  background-color: var(--light-gray);
}

body {
  color: var(--black);
  font-family: "M PLUS 1p", sans-serif;
  margin: 0;
  position: relative;
}
.main {
  background-color: var(--white);
  margin: 0 150px;
  padding: 0 20px 20px 20px;
  height: 100vh;
}

@media screen and (max-width: 950px) {
  .main {
    margin: 0 20px;
  }
}
