.search-container {
  background-color: var(--blue-green);
  margin: 0 -20px;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.search-input {
  border-radius: 12px;
  padding: 10px;
  width: 96%;
}

input[type="text"] {
  font-family: "M PLUS 1p";
  font-size: 16px;
}

.past-search-container {
  background-color: white;
  border-radius: 5px;
  margin-top: -2px;
  padding: 5px 0;
}
